/* Navbar.css */

/* Estilos generales */
.navbar-container {
  background-color: #d1cac2; /* Fondo del Navbar */
  border: 1px solid #1d1d1d; /* Borde inferior */
  padding: 0.5rem 2rem; /* Espaciado interno */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}


.navbar-links {
  display: flex;
  gap: 1.5rem;
  user-select: none;
}

.navbar-links a {
  text-decoration: none;
  color: #1d1d1d;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  user-select: none;
}

.app-title {
  color: #1d1d1d;
  margin-left: auto;
  user-select: none;
}

.navbar-links a:hover {
  background-color: #b49884; 
  border-radius: 10px;
}