.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-form {
  display: grid;
  gap: 16px; 
}

.form-group {
  color: #282828;
}


#title {
  grid-row: 1; 
  background-color: #fefafa; 
}


#content {
  grid-row: 2; 
  background-color: #fefafa; 
  resize: none; 
}


button {
  grid-row: 3; 
  background-color: #4e4e4e; 
  color: #fff; 
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}

button:hover {
  background-color: #282828; 
}
