.tag-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #1d1d1d;
}

.tag-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  user-select: none;
}

.tag-form-title {
  user-select: none;
}

.tag-input {
  width: 200px;
  padding: 8px;
  background-color: #d1cac2;
  border: 1px solid #1d1d1d; 
  border-radius: 10px; 
  user-select: none;
}

.tag-button {
  padding: 8px 16px;
  background-color: #4e4e4e;
  color: #fff;
  border: none;
  cursor: pointer;
}

.tag-button:hover {
  background-color: #1d1d1d;
}
